{{#each entries as |entry|}}
    <div class="card entry-card col-10">
        <div class="card-body">
             <h5 class="card-title entry-card-title">{{entry.entry_title}}</h5>
             <h6 class="card-subtitle mb-2 text-muted">Posted by {{entry.user.username}} on {{entry.createdAt}}</h6>
            <p class="card-text">{{entry.entry_text}}</p>
        </div>
    </div>
{{/each}}